<style>
    body {
        background: url('{!$basePath}/images/cover.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    html {
        min-height: 100%;
    }
</style>
<script type="text/javascript" src="{$basePath}/js/master.js"></script>
</body>

</html>